In [1]:
import pandas as pd

In [7]:
frame = pd.read_csv('toy.txt',header = 0,sep = '\t')
frame

  Title         Price       Sale
0   Машинка       1000        30
1    Танк          2500        0
2   Йо-йо         700         15
3  Кукла         1500        50
4   Самолет       2000        40

In [11]:
frame.columns

Index([u'Title         Price       Sale'], dtype='object')

In [12]:
frame.shape

(5, 1)